.myBG{
    height: 100vh;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}

.intro{
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}


.trending {
    height: auto;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}

.dracin {
    height: auto;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}

.drakor {
    height: auto;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}

.turki {
    height: auto;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}


.movieImage{
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;

}

.image{
    height: 500px;
}